.pictureContainer{
    border-radius: 20px;
    overflow: hidden;
}

img{
    width: 300px;
    height: 400px;
    border-radius: 20px;
    transition: all 0.5s;    
}

img:hover{
    scale: 1.1;
}

h3{
    text-align: center;
    margin: 20px 0 20px 0;
}